
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #949bcc;
}

header img {
    width: 100px;
    height: auto;
}

header h1 {
    text-align: center;
    flex-grow: 1;
    margin: 0 20px;
}

header .right {
    text-align: right;
}

header .right h2 {
    font-size: 14px;
    margin: 5px 0;
}

main {
    padding: 20px;
    margin-bottom: 60px; 
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
}


.responsive-img {
    max-width: 25%;
    height: auto; 
    display: block;
    margin: 10px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
    .responsive-img {
        max-width: 50%; 
    }
}

@media (max-width: 480px) {
    .responsive-img {
        max-width: 100%; 
    }
}
footer {
    background-color: rgb(33, 96, 212);
    color: rgb(19, 13, 13);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
}

dengue-alerta {
    display: block;
    background-color: #ffeb3b;
    padding: 10px;
    border-left: 5px solid #ffc107;
    margin: 20px 0;
    font-weight: bold;
}